<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<!-- Import fancy-type plugin for the sample page. -->
		<link rel="stylesheet" href="/css/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
    </head>

    <body>
        <main>
			<div class="span-4">
				Left Thing
			</div>
			<div class="span-16">
				{{ content }}
			</div>
        </main>
        <footer>
            <hr>
			<p><center><a href="mailto:foobar4life@gmail.com?Subject:Blog">Contact</a> 
			| Except where otherwise noted, content on this site is licensed 
			under a Creative Commons Attribution 3.0 License.</center></p>
        </footer>

    </body>

</html>
